body{
  /* background-image: linear-gradient(180deg, #c2cacb,#ee8d3e); */
  height: 100vh;
  margin: 0%;
  background-color: #80808012;
}

p{
  font-weight: 500;
}

.head{
  font-size: xxx-large;
  font-weight: 550;
  color:#137dbe;
  padding-top: 1%;
  margin-left: 2%;
  width: 95%;
}

.header{
  height: 5%;
  display: flex;
  padding-bottom: 1%;
}

#line{
  display: flex;
  border-bottom: solid #137dbe;
  border-bottom-width: 2px;
  width: 85%;

}

#logo{
  width: 5%;
  margin-left: 1%;
}


#refresh{
  font-size:  xxx-large;
  margin: 1%;
  color: #888888;
}

#mail{
  font-size:  xxx-large;
  margin: 1%;
  color: #888888;
}

#done{
  font-size:  xxx-large;
  margin: 1%;
  color: #888888;
}

.parent{
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

.child1{
  display: none;
  /* width: 20%; */
  position: absolute;
  font-size: x-large;
  font-weight: 600;
  /* height: 20%; */
  /* text-align: right; */
  /* float: right; */
  padding: 0.5% 1%;
  background-color: #939af1;
  border-radius: 25%;
  box-shadow: -1px 1px 8px 1px #535ff9;
}

.child2{
  width: 100%;
  height: 79%;
  margin-top: 10%;
  text-align: center;
  float: right;
  color: black;
  font-size: x-large;
  font-weight: 600;
}

.tile{
  min-width: 260px;
    height: 220px;
    background-color: #d6a0ca;
    margin: 3%;
    border-radius: 10%;
    box-shadow: 0px 0px 7px 2px #80707c;
}

.labels{
  display: none;
  justify-content: center;
  line-height: 60px;
  text-align: center;
}

.tab{
  margin: 1% 2%;
  background-color:#7ccbce;
  width: 48px;
  font-size: xx-large;
  font-weight: 600;
  border-radius: 40%;
  box-shadow: 5px 5px #00000063;
}

.num{
  margin: 1% 2%;
  background-color:#7ccbce;
  width: 48px;
  font-size: xx-large;
  font-weight: 600;
  border-radius: 40%;
  box-shadow: 5px 5px #00000063;
}

#phone{
  width: 100%;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
  background-color: rgb(97 214 255);
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 41%;
  height: 120%;

}


.close {
  float: right;
  font-size: large;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.closeBtn{
  float: right;
  font-size: x-large;
  width: 3%;
}

#off{
  float: right;
  margin-top: 2%;
  font-size: larger;
  border-radius: 1%;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

#contained-modal-title-vcenter{
  font-size: xx-large;
  font-weight: 600;
}

#phone{
  height: 40px;
}

#logo{
  background-image: src("./wings2life.png");
}

.hr{
  background-color: #000;
}

.num1{
  display: flex;
  justify-content: center;
}

.num2{
  display: flex;
  justify-content: center;

}

.num3{
  display: flex;
  justify-content: center;
}

.num4{
  display: flex;
  justify-content: center;

}

.l1{
  font-size: xx-large;
  justify-content: center;
  margin: 3% 8%;
  background-color: yellowgreen;
  width: 5%;
  text-align: center;
  border-radius: 30%;
}



.title{
  display: flex;
    justify-content: center;
    margin: 3% 1%;
    font-size: xx-large;
}